# docker-compose file for jellyfin server using bridge networking
services:
  jellyfinserver:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: ${JELLYFIN_UID}:${JELLYFIN_GID}
    ports:
      # Port Mapping LOCAL-HOST:CONTAINER
      - 8096:8096
    volumes:
    # Volume Mounts LOCAL-SOURCE:CONTAINER-TARGET
      - ${JELLYFIN_CONFIG_JSON}:/jellyfin/jellyfin-web/config.json
      - ${JELLYFIN_CONFIG}:/config
      - ${JELLYFIN_CACHE}:/cache
      - ${JELLYFIN_MEDIA}:/media
    restart: unless-stopped
